@charset "UTF-8" ;

body {
    background-color: #a3b7ca;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #284d72;
} 

h1#principal {
    text-align: center;
    background-color: #284d72;
    color: white;
}

h2 {
    color: #436592f1;
}

.basico {
    color: #284d72;
    
}

.intermediario {
             color: #6b7228;
}

.avancado {
          color: #723128;
}

.destaque {
    background-color: rgb(197, 197, 96);
}

