     @charset "UTF8";
    
    body {
            background-color: lightsteelblue;
            font-family: Arial, Helvetica, sans-serif ;
            font-size: 20px;
        }
        h1 {
            color: mediumblue;
            background-color: greenyellow;
        }
        h2 {
            color: mediumseagreen;
        }
        p {
            text-align: justify;
        }