@charset "UTF8";

body {
    background-image: linear-gradient(to right, #F2DDB6, #BFAE99);
}

main {
      background-color: white;
      border-radius: 20px;
       box-shadow: 5px 5px 15px rgba(119, 110, 92, 0.651);
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #0A486D;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(4, 30, 46, 0.644);
}

h2 {
    color: #1076B1;
}

p {
    text-align: justify;
}